<h1>View <%= pluralize(@lists.count, "List") %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">List Name</th>
			<th scope="col">Store</th>
			<th scope="col">Date</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @lists.each do |list|%>
		<tr>
			<td><%= list.name%></td>
			<td><%= list.store%></td>
			<td><%= list.date%></td>
			<td><a href="/lists/<%= list.id %>">Show</a>
				<a href="/lists/<%= list.id %>/edit">Edit</a>
				<a href="/lists/<%= list.id %>" data-method = "delete"
					data-confirm="Are you sure?">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/lists/new">Create Lists</a>
