<h1>Add Item to List</h1>
<form action="/appearances" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>List:</label>
		<select name="appearance[list_id]" id="list_id">
			<% @lists.each do |list| %>
			<option value="<%= list.id %>">
				<%= list.name %> 
			</option>
			<% end %>
		</select>
	</p>
	<p>
		<label>Item:</label>
		<select name="appearance[item_id]" id="item_id">
			<% @items.each do |item| %>
			<option value="<%= item.id %>">
				<%= item.name %>
			</option>
			<% end %>
		</select>
	</p>
	<input type="submit" name="Create">
</form>